{% extends 'base.html' %}

{% block head_title %}
Home -
{% endblock head_title %}


{% block content %}
<div class="container py-5">
    <div class="col-lg-6 p-5 bg-white bg-opacity-50 rounded-4">
        <h2 class="display-6 text-">Welcome to MediConnect</h2>
        <p class="text-">Our company, MediConnect, aims to revolutionize the
            medical care industry by providing a comprehensive and
            user-friendly mobile application that connects patients with
            skilled healthcare professionals such as nurses, doctors,
            caregivers, and physiotherapists. The application will facilitate
            easy and efficient access to quality healthcare services, improving
            patient outcomes and enhancing the overall healthcare experience.
            With a strong focus on convenience, reliability, and personalized
            care, MediConnect will transform the way patients receive medical
            attention.</p>
        <div class="text-end mt-4">
            <a class="btn btn-info px-5 rounded-pill border border-2 border-dark"
                href="">Register Now</a>
        </div>
    </div>
    <div class="b-example-divider"></div>
    <section>
        <div class="pt-5">
            <div class="text-center display-5 text-white">Services</div>
            <hr class="text-white"><br>
            <div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="col">
                    <div
                        class="card h-100 text-center rounded-4 bg-white bg-opacity-50 py-5 shadow border-0">
                        <span class="material-symbols-outlined fs-1">
                            personal_injury
                        </span>
                        <div class="card-body px-5">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text small">This is a wider card
                                with
                                supporting text below as a natural lead-in to
                                additional content. This content is a little
                                bit
                                longer.</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div
                        class="card h-100 text-center rounded-4 bg-white bg-opacity-50 py-5 shadow border-0">
                        <span class="material-symbols-outlined fs-1">
                            personal_injury
                        </span>
                        <div class="card-body px-5">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text small">This is a wider card
                                with
                                supporting text below as a natural lead-in to
                                additional content. This content is a little
                                bit
                                longer.</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div
                        class="card h-100 text-center rounded-4 bg-white bg-opacity-50 py-5 shadow border-0">
                        <span class="material-symbols-outlined fs-1">
                            personal_injury
                        </span>
                        <div class="card-body px-5">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text small">This is a wider card
                                with
                                supporting text below as a natural lead-in to
                                additional content. This content is a little
                                bit
                                longer.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="b-example-divider"></div>

    <section>
        <div class="py-5">
            <div class="text-center display-5 text-white">About</div>
            <hr class="text-white"><br>
            <div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="col">
                    <div
                        class="card h-100 text-center rounded-4 bg-light bg-opacity-75 shadow border-0">
                        <img class="rounded-4 rounded-bottom-0"
                            src="../static/img/card-img-1.jpg"
                            alt=""
                            srcset="">
                        <div class="card-body px-5">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text small">This is a wider card
                                with supporting .</p>
                            <hr>
                            <p class="card-text small">Lorem ipsum dolor sit
                                amet consectetur.</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div
                        class="card h-100 text-center rounded-4 bg-light bg-opacity-75 shadow border-0">
                        <img class="rounded-4 rounded-bottom-0"
                            src="../static/img/bg-img-sm.jpg"
                            alt=""
                            srcset="">
                        <div class="card-body px-5">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text small">This is a wider card
                                with supporting .</p>
                            <hr>
                            <p class="card-text small">Lorem ipsum dolor sit
                                amet consectetur.</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div
                        class="card h-100 text-center rounded-4 bg-light bg-opacity-75 shadow border-0">
                        <img class="rounded-4 rounded-bottom-0"
                            src="../static/img/card-img-2.jpg"
                            alt=""
                            srcset="">
                        <div class="card-body px-5">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text small">This is a wider card
                                with supporting .</p>
                            <hr>
                            <p class="card-text small">Lorem ipsum dolor sit
                                amet consectetur.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock content %}