<div class="sticky-top">
    <div
        class="d-flex flex-wrap justify-content-center px-5 bg-secondary sticky-top">
        <a href="/"
            class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
        </a>

        <ul class="nav nav-pills">
            <li class="nav-item"><a href="#"
                    class="nav-link text-white"><i
                        class="bi bi-facebook"></i></a>
            </li>
            <li class="nav-item"><a href="#"
                    class="nav-link text-white"><i
                        class="bi bi-twitter"></i></a>
            </li>
            <li class="nav-item"><a href="#"
                    class="nav-link text-white"><i
                        class="bi bi-linkedin"></i></a>
            </li>
            <li class="nav-item"><a href="#"
                    class="nav-link text-white"><i
                        class="bi bi-instagram"></i></a>
            </li>
        </ul>
    </div>
    <header
        class="d-flex flex-wrap justify-content-center py-5 px-5 bg-dark bg-opacity-75">
        <a href="/"
            class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
            <span class="fs-4 ms-5 text-white">MediConnect</span>
        </a>

        <ul class="nav nav-pills">
            <li class="nav-item"><a href="#"
                    class="nav-link text-white">Home</a></li>
            <li class="nav-item"><a href="#services"
                    class="nav-link text-white">Services</a></li>
            <li class="nav-item"><a href="#"
                    class="nav-link text-white">Pricing</a></li>
            <li class="nav-item"><a href="#"
                    class="nav-link text-white">FAQs</a></li>
            <li class="nav-item"><a href="#"
                    class="nav-link text-white">About</a></li>
        </ul>
    </header>
</div>